@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  /* border-bottom: solid 1px #e8e8e8; */
  overflow: auto;
  box-shadow: 0 0 20px #c2c2c2;
  background-color: #98ddca;
  display: flex;
  align-items: center;
  font-family: "NanumSquareRound";
}

.container {
  display: flex;
  height: 100%;
  justify-content: stretch;
  align-items: stretch;
}

.menu_logo {
  font-family: "yg-jalnan";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 100%;
}

.menu_logo a {
  color: rgb(110, 110, 110);
  font-style: italic;
  font-weight: 1000;
}

.menu_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
}

.menu_content a {
  font-size: 1.2em;
  color: white;
}

.navbar_left {
  display: flex;
}

.navbar_right {
  display: flex;
}

.navbar_item {
  padding: 15px 15px;
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu_logo {
    padding: 10px 0;
  }

  .menu_content {
    flex-direction: column;
    text-align: center;
  }
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
